* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0; 
    position: absolute;
    right: 20px;
}

li{
    padding: 0 10px;
}


nav,footer{
    padding: 1% 0;
    background-color: #eee;
    opacity: 0.5;
}

nav {
    display: flex;
    /* justify-content: space-around; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:10;
    color: #113;
}

nav a:hover{
    font-size: 22px;
    color: #607d8b;
}

h3.brand-name{
    font-family: 'Karla', sans-serif;
    margin: 0;
    align-self: flex-start;
    color: #113;
    font-size: 28px;
}

header {
    height: auto;
    padding: 15% 2%;
}

section#contact {
    min-height: 100px;
    background-color: #fff;
    padding: 5% 0 0 0;
}

.about-me{
    text-align: left;
}

i {
    visibility: hidden;
}
  .side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.3s;
  }

.side-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #dadada;
  }
/* Typewriter Animation */

div.typewriter{
  display: flex;
  justify-content: center;
  width: 42vh;
  margin: 0 auto;
}

.typewriter h2{
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.05em;
    border-right: 0.10em solid orange;
    animation: 
        typing 3.0s steps(9,end),
        blink-caret .5s step-end infinite;
}

@keyframes typing{
    from{width: 0px}
    to{width: 100%}
}

@keyframes blink-caret{
    from, to{border-color: transparent}
    50% {border-color: orange}
}

/* Typewriter Animation END */

/* Header Section */

    header#bio{
        height: 90vh;
    }
    header.banner h2 {
      font-size: 55px;
    }

    header.banner{
        margin-top: 8%;
    }

    .bio-icon-container{
        margin-left: 2em;
    }

/* About me section Desktop */

    section#about{
        padding-top: 42px;
        background-color: #fff;
    }

    p.about-me{
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    h3.about-header{
        margin: 0 auto 20px auto;
        font-family: 'Rubik', sans-serif;
        font-size: 32px;
        border-bottom: 1px solid #607d8b;
        width: 80%;
        padding-bottom: 20px;
    }

    .para-highlight{
        background-color: #aaa;
        opacity: 0.7;
        color: #111;
    }

/*    Project section Desktop */

section#project{
    padding-top: 42px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

div.card-container{   
  width: 30%;
  height: 300px;
  margin: 0 40px;
  /* border: 1px solid red; */
  background-color: #607d8b ;
  margin-bottom: 1.25em;
  color: #ddd;
  border-radius: 2%;
}

.card-container:hover{
  box-shadow: 2px 4px 4px 5px #888888;
}

.tech-logo-container{
    display: flex;
    justify-content: space-evenly;
}

div.prj-title-container{
    display: block;
}

div.prj-desc-container{
    font-size: 16px;
    height: 50%;
    padding-top: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

div.link-container{
    width: 100%;
    height: 70px;
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #607d8b ;
}

i.fa-rocket, i.fa-github, i.fa-linkedin{
    visibility: visible;
    font-size: 40px;
}

i.fa-rocket:hover, i.fa-github:hover, i.fa-linkedin:hover,i.fa-envelope:hover{
    font-size: 48px;
}

i.fa-heart{
    visibility: visible;
    font-size: 16px;
    color: red;
}

i.fa-linkedin {
    margin: 0 1.0em; 
}

i.fa-js-square,i.fa-html5,i.fa-google,i.fa-chart-line {
  visibility: visible;
  font-size: 32px;
  padding-bottom: .25em;
}

div.bk-to-top-box{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
  }

  .back-to-top{
      font-family: 'Rubik', sans-serif;
      display: block;
      font-size: 12px;
  }

  a.back-to-top{
      width: 45px;
  }

  i.fa-arrow-circle-up{
    visibility: visible;
    font-size: 45px;
    opacity: 0.7;
}

i.fa-envelope{
    visibility: visible;
}

div.contact-container a {
    font-size: 30px;
    padding: 10px;
}

  footer span{
      font-size: 16px;
  }


/*Mobile Version - Collapsable Menu*/

@media screen and (max-width:580px){
    i.fa-bars {
        font-size: 38px;
        color: #000;
        visibility: visible;
        padding: 0 20px;

    }
    i.fa-times {
        font-size: 38px;
        color: #000;
        visibility: visible;
        padding: 10px 0 5px 22px;
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
    }

    .hide-ul{
        visibility: hidden;
    }

    h3.brand-name{
        position: absolute;
        right: 25px;
        color: #113;
    }

    div.typewriter{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
      }

    .side-nav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        opacity: 0.9;
        overflow-x: hidden; 
        padding-top: 60px;
        transition: 0.5s;
      }
      .side-nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        color: #dadada;
      }
      .side-nav a:hover{
          color: #111;
          background-color: #ddd;
      }

      /* Header Section */

      header#bio{
          height: 90vh;
      }
      header.banner h2 {
        font-size: 40px;
      }

      header.banner{
          margin-top: 30%;
      }

      .bio-icon-container{
          margin-left: 2em;
      }

      /* About me section */

      p.about-me{
        text-align: left;
        width: 95%;
    }

/*    Project section Mobile */

      div.flex-container{
          display: flex;
          flex-direction: column;
      }

      div.card-container{
        width: 70%;
        height: 300px;
        margin: 0 auto;
        /* border: 1px solid red; */
        background-color: #607d8b ;
        margin-bottom: 1.25em;
        color: #ddd;
        border-radius: 2%;
      }

      .card-container:hover{
        box-shadow: 2px 4px 4px 5px #888888;
      }

      div.prj-title-container{
          display: block;
      }
      
      div.prj-desc-container{
          font-size: 16px;
          /* border: 1px solid salmon; */
          height: 50%;
          padding-top: 1em;
          padding-left: 5px;
          padding-right: 5px;
      }

      div.link-container{
          width: 100%;
          height: 70px;
          /* border: 1px solid black; */
          align-self: flex-end;
          display: flex;
          justify-content: space-around;
          padding-top: 10px;
          background-color: #607d8b ;
      }
}


@media (max-width:1044px) and (min-width:740px){
    /*    Project section Desktop */

    section#project{
        padding-top: 42px;
    }

    .flex-container1{
        display: flex;
        justify-content: center;
    }

    div.card-container{   
    width: 60%;
    height: 300px;
    /* margin: 0 auto; */
    margin: 15px;
    /* border: 3px solid red; */
    background-color: #607d8b ;
    margin-bottom: 1.25em;
    color: #ddd;
    border-radius: 2%;
    }

    .card-container:hover{
    box-shadow: 2px 4px 4px 5px #888888;
    }

    div.prj-title-container{
        display: block;
    }

    div.prj-desc-container{
        font-size: 16px;
        /* border: 1px solid salmon; */
        height: 50%;
        padding-top: 1em;
        padding-left: 5px;
        padding-right: 5px;
    }

    div.link-container{
        width: 100%;
        height: 70px;
        /* border: 1px solid black; */
        align-self: flex-end;
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        background-color: #607d8b ;
    }
}

@media (max-width:739px) and (min-width:581px){
    /*    Project section Desktop */

    section#project{
        padding-top: 42px;
    }

    .flex-container{
        display: flex;
        justify-content: space-around;
    }

    div.card-container{   
    width: 80%;
    height: 300px;
    margin: 15px;
    background-color: #607d8b ;
    margin-bottom: 1.25em;
    color: #ddd;
    border-radius: 2%;
    }
}